*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(197,170,170);
    width: 100%;
}
main{
    width: 80%;
    margin: 20px auto;
}
h1{
    text-align: center;
    margin-top: 10px;
}
span{
    color: blue;
}
.head{
    margin: 20px 0;
    position: relative;
}
.head .banner{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.head .services{
    position: absolute;
    bottom: -100px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.services .service{
    background-color: antiquewhite;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    position: relative;
}
.service:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
}
.service img{
    width: 30px;
    height: 30px;
    background-color: #ddd;
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    top: -20px;
    left: 45%;
}
.title{
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
}
.disc{
    margin-bottom: 20px;
    color: rgb(204,147,155);
}
a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* single service page */
.single{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.sec1 .title{
font-size: 40px;
font-weight: bold;
}
.sec1 .brife-disc{
font-size: 16px;
}
.sec2 img{
    width: 100%;
    height: 300px;
}
button{
    padding: 10px;
    border: none;
    color: azure;
    background-color: rgba(125, 46, 199, 0.575);
    margin: 20px 0;
}